
.col-1{
    border:10px solid black ;
    background-color: skyblue;
}
.col-2{
    border: 10px solid black ;
    background-color: skyblue;
}
.col-3{
    border:10px solid black ;
    background-color: skyblue;
}
.col-4{
    border:10px solid black ;
    background-color: skyblue;
}
.col-6{
    border:10px solid black;
    background-color: skyblue;
}
.col-8{
    border:10px solid black;
    background-color: skyblue;
}
.col-12{
    border:10px solid black;
    background-color: skyblue;
    border-bottom:10px solid black ;
} 
